   <div class="login-tab"> 
    <h1 class="logheading">Welcome Back!</h1>
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.text_field :username, class: 'input is-primary logininput', placeholder: "Username" %>
      <%= f.password_field :password, class: 'input is-primary logininput', placeholder: "Password" %>
      <br>
      <%= f.submit "Log in", class: "button loginbtn" %>
    <% end %>
      <p class="signup-on-login">Don't have a Chablie account?<%= link_to " Create Your Account Now!", root_path, class: "signuplink" %></p>
    </div>
