<div class="flex-chable">
<div class="chables-feed">
    <div class="feed-profile-photo" style="background-image: url(' <%= chable.user.picture.url if chable.user.picture? %>'); background-size: cover;"></div>
    <span class="feed-name"><%= link_to chable.user.name, chable.user %></span>
    <span class="feed-username">@<%= chable.user.username %></span>
     <span>
        <h1 class="feed-time">- <%= time_ago_in_words(chable.created_at) %></h1>
    </span>
    <span class="feed-content"><%= chable.content %></span>
    <span class="feed-img"><%= image_tag chable.chable_picture.url if chable.chable_picture? %></span>
</div>
<div class="feed-delete-area">
  <% if current_user?(chable.user) %>
            <%= link_to "Delete", chable, method: :delete,
                                       data: { confirm: "are you sure?" }, class: "feed-delete feed-h1" %>
        <% end %>
</div>
</div>