<div class="flex-chable">
<div class="chables-feed">
    <div class="feed-profile-photo"></div>
    <span class="feed-name"><%= link_to chable.user.name, chable.user %></span>
    <span class="feed-username">@<%= chable.user.username %></span>
     <span>
        <h1 class="feed-time">- <%= time_ago_in_words(chable.created_at) %></h1>
    </span>
    <span class="feed-content"><%= chable.content %></span>
</div>
<h1 class="feed-h1">
  <% if current_user?(chable.user) %>
            <%= link_to "Delete", chable, method: :delete,
                                       data: { confirm: "are you sure?" }, class: "feed-delete" %>
        <% end %>
</h1>
</div>