<div class="flex-chable">
<div class="chables-feed">
    <div class="feed-profile-photo" style="background-color: #00c4a7; background-image: url(' <%= chable.user.picture.url if chable.user.picture? %>'); background-size: cover;"></div>
    <span class="feed-name"><%= link_to chable.user.name, chable.user %></span>
    <span class="feed-username">@<%= chable.user.username %> - <%= time_ago_in_words(chable.created_at) %></span>
    <h1 class="feed-content">    <% chable.content.to_s.split(' ').each do |word| %>
                                                  <% if word.start_with?('#') %>
                                                    <%= link_to word, search_path(query: word) %>
                                                  <% else %>
                                                    <%= word %>
                                                  <% end %>
                                          <% end %>
    </h1>
    <span class="feed-img"><%= image_tag chable.chable_picture.url if chable.chable_picture? %></span>
    <div class="comment">
            <%= form_for [chable, Comment.new] do |f| %>
              <%= f.text_area :body, placeholder: "Add a comment", class: "comment-text" %><br/>
              <%= f.submit "Add Comment", class: "comment-btn" %>
            <% end %>
    </div>
        <ul>
          <%= render(partial: 'comments/comment', collection: chable.comments) %>
        </ul>
      <div class="social-area">
        <div class="like-area">
          <% pre_like = chable.likes.find { |like| like.user_id == current_user.id} %>
            <% if pre_like %>
              <%= link_to "", chable_like_path(chable, pre_like), method: :delete, class: "unlike-button" %>
            <% else %>
              <%= link_to "", chable_likes_path(chable), method: :post, class: "like-button", remote: :true %>
            <% end %>
            <p class="like-count"><%= chable.likes.count %></p>
        </div>
        <p class="comment-popup"></p>
        <p class="comment-count"><%= chable.comments.count %></p>
      </div>
    </div>
    <div class="feed-delete-area">
      <% if current_user?(chable.user) %>
            <%= link_to "Delete", chable, method: :delete,
                                       data: { confirm: "are you sure?" }, class: "feed-delete feed-h1" %>
      <% end %>
  </div>
</div>

<!--<%= markdown(chable.content) %>-->