<style lg="scss">
.chables-feed .feed-img img{
   margin-left: 1% !important;
}

.chables-feed .feed-content a {
  color: salmon !important;
}
</style>

<div class="search-page">
    <% if @chables.exists? %>
      <h1 class="title b1" style="text-align: center; margin-top: 10px;">Top Chables</h1>
    <% end %>
    <% if @comments.exists? %>
      <h1 class="title b1" style="text-align: center; margin-top: 10px;">Top Comments</h1>
    <% end %>
    <% if @chables.exists? && @comments.exists? %>
      <h1 class="title" style="text-align: center; margin-top: 10px;">Top Chables and Comments</h1>
      <style>
      .b1 {
        display: none;
      }
      </style>
    <% end %>  
  <div class="user-images">
    <% @chables.each do |chable|%>
      <div class="wrapper" style='padding: 10px;'>
        <div class="chables-feed" style="padding: 20px; background-color: white; justify-content: center; margin-left: 30%; border: none; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);">
          <div class="feed-profile-photo" style="background-color: salmon; background-image: url(' <%= chable.user.picture.url if chable.user.picture? %>'); background-size: cover;"></div>
          <span class="feed-name"><%= link_to chable.user.name, chable.user %></span>
          <span class="feed-username">@<%= chable.user.username %> - <%= time_ago_in_words(chable.created_at) %></span>
          <h1 class="feed-content"><% chable.content.to_s.split(' ').each do |word| %>
                                                  <% if word.start_with?('#') %>
                                                    <%= link_to word, search_path(query: word) %>
                                                  <%else %>
                                                    <%= word %>
                                                  <%end %>
                                                <% end %></h1>
          <span class="feed-img"><%= image_tag chable.chable_picture.url if chable.chable_picture? %></span>
          <div class="social-area">
            <div class="like-area">
              <% pre_like = chable.likes.find { |like| like.user_id == current_user.id} %>
              <% if pre_like %>
                <%= link_to "", chable_like_path(chable, pre_like), method: :delete, class: "unlike-button" %>
              <% else %>
                <%= link_to "", chable_likes_path(chable), method: :post, class: "like-button", remote: :true %>
              <% end %>
              <p class="like-count"><%= chable.likes.count %></p>
            </div>
            <p class="comment-popup"></p>
            <p class="comment-count"><%= chable.comments.count %></p>
          </div>
        </div>
    <% end %>
  </div>

  <div class="user-images">
    <% @comments.each do |comment|%>
      <div class="wrapper" style='padding: 10px;'>
        <div class="chables-feed" style="background-color: white; justify-content: center; margin-left: 30%; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1); padding: 20px;">
          <div class="feed-profile-photo" style="background-color: salmon; background-image: url(' <%= comment.user.picture.url if comment.user.picture? %>'); background-size: cover;"></div>
          <span class="feed-name"><%= link_to comment.user.name, comment.user %></span>
          <span class="feed-username">@<%= comment.user.username %> - <%= time_ago_in_words(comment.created_at) %></span>
          <h1 class="feed-content"><% comment.body.to_s.split(' ').each do |word| %>
                                                  <% if word.start_with?('#') %>
                                                    <%= link_to word, search_path(query: word) %>
                                                  <%else %>
                                                    <%= word %>
                                                  <%end %>
                                                <% end %></h1>
          
        </div>
      </div>
    <% end %>
  </div>