<style>
body {
    height: 820px;
    background-color: #e6ecf0;
}
</style>
<div class="edit-container">
    <h1 class="title">Account</h1>
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="edit-fields">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'input is-primary' %>
        </div>
        <div class="edit-fields">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'input is-primary' %>
        </div>
        <div class="edit-fields phone-field">
            <%= f.label :phone_number, "Phone Number" %>
            <%= f.text_field :phone_number, class: "input is-primary form-control" %>
        </div>
        <div class="edit-fields bio-field">
            <%= f.label :bio, "Bio" %>
            <%= f.text_field :bio, class: "input is-primary form-control" %>
        </div>
        <div class="edit-fields location-field">
            <%= f.label :locaton, "Location" %>
            <%= f.text_field :location, class: "input is-primary form-control" %>
        </div>
        <div class="edit-fields birthday-field">
            <%= f.label :birthday, "Birthday" %>
            <%= f.date_field :birthday, class: "input is-primary form-control" %>
        </div>
        <div class="edit-fields password-field">
            <%= f.label :password %>
            <%= f.password_field :password, class: 'input is-primary' %>
        </div>
        <div class="edit-fields confirmation-field">
            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, class: 'input is-primary' %>
        </div>
        <h1 class="imagu">Profile Picture</h1>
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', id: "image-browse" %>
        <label for="image-browse" class="btn-2 label edit-label">upload</label><br>
        <h1 class="imagu">Cover Picture</h1>
        <%= f.file_field :cover_picture, accept: 'image/jpeg,image/gif,image/png', id: "cover-image-browse" %>
        <label for="cover-image-browse" class="btn-2 label edit-label">upload</label>
        <div class="button-field">
            <%= f.submit "Save changes", class: "button is-primary update-btn" %>
    <% end %>
            <% if current_user %>
               <p class="delete-button"> <%= link_to "Delete Account", @user, method: :delete,
                                            data: { confirm: "are you sure?"}, class: "button is-danger" %></p>
            <% end %>
        </div>
</div>

<script type="text/javascript">
  $('#user_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>

<script type="text/javascript">
  $('#user_cover_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>



