<h1 class="title signup-heading">Sign up</h1>

<div class="new-user-container">
    <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name, "Name:" %>
      <%= f.text_field :name, class: "input is-primary form-control" %>
      <br>
      <%= f.label :email, "Email:" %>
      <%= f.email_field :email, class: "input is-primary form-control" %>
      <br>
      <%= f.label :username, "Username:" %>
      <%= f.text_field :username, class: "input is-primary form-control" %>
      <br>
      <%= f.label :phone_number, "Phone Number:" %>
      <%= f.text_field :phone_number, class: "input is-primary form-control" %>
      <br>
      <%= f.label :bio, "Bio:" %>
      <%= f.text_field :bio, class: "input is-primary form-control" %>
      <br> 
      <%= f.label :location, "Location:" %>
      <%= f.text_field :location, class: "input is-primary form-control" %>
      <br> 
      <%= f.label :birthday, "Birthday:" %>
      <%= f.date_field :birthday, class: "input is-primary form-control" %>
      <br>  
      <%= f.label :password, "Password:" %>
      <%= f.password_field :password, class: "input is-primary form-control" %>
      <br>
      <%= f.label :password_confirmation, "Password Confirmation:" %>
      <%= f.password_field :password_confirmation, class: "input is-primary form-control" %>
      <br>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      <%= f.file_field :cover_picture, accept: 'image/jpeg,image/gif,image/png' %>
      <br>
      <%= f.submit "Create my account", class: "button is-primary signup-btn" %>
    <% end %>
</div>
