<h1 class="title signup-heading">Sign up</h1>

<div class="new-user-container">
    <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages' %>
      <%= f.label :name %>:
      <%= f.text_field :name, class: "input is-primary form-control" %>
      <br>
      <%= f.label :email %>:
      <%= f.email_field :email, class: "input is-primary form-control" %>
      <br>
      <%= f.label :username %>:
      <%= f.text_field :username, class: "input is-primary form-control" %>
      <br>
      <%= f.label :phone_number %>:
      <%= f.text_field :phone_number, class: "input is-primary form-control" %>
      <br>
      <%= f.label :bio %>:
      <%= f.text_field :bio, class: "input is-primary form-control" %>
      <br> 
      <%= f.label :locaton %>:
      <%= f.text_field :location, class: "input is-primary form-control" %>
      <br> 
      <%= f.label :birthday %>:
      <%= f.date_field :birthday, class: "input is-primary form-control" %>
      <br>  
      <%= f.label :password %>:
      <%= f.password_field :password, class: "input is-primary form-control" %>
      <br>
      <%= f.label :password_confirmation, "Confirmation:" %>
      <%= f.password_field :password_confirmation, class: "input is-primary form-control" %>
      <br>
      <%= f.submit "Create my account", class: "button is-primary signup-btn" %>
    <% end %>
</div>
