<div class="profile-cover">
  <span class='show-cover-picture' style="background-color: #00c4a7;"><%= image_tag @user.cover_picture.url if @user.cover_picture? %></span>
</div>

<div class='desp-box'>
   <h1 class="title profile-name"><%= @user.name %></h1>
   <h1 class="profile-username">@<%= @user.username %></h1>
</div>

<div class='info-box'>
  <div class="profile-photo" style="background-color: salmon; background-image: url('<%= @user.picture.url if @user.picture? %> '); background-size: cover;">
    <h1 class="profile-location"><i class="fas fa-map-marker-alt"></i><%= @user.location %></h1>
    <h1 class="profile-bio"><i class="fas fa-portrait"></i><%= @user.bio %></h1>
    <%= render 'follow_form' if logged_in? %>
  </div>
</div>
<div class="second-nav tab">
  <button class="tablinks" onclick="openNav(event, 'Chables')" id='defaultOpen'>Chables<br><%= @user.chables.count %></button>
  <button class="tablinks" onclick="openNav(event, 'Followers')">Followers<br><%= @user.followers.count %></button>
  <button class="tablinks" onclick="openNav(event, 'Following')">Followings<br><%= @user.following.count %></button>
  <button class="tablinks act" onclick="openNav(event, 'Likes')">Activity<br><%= @likes.count %></button>
</div>
<div class="show-area">
  <div id="Chables" class="tabcontent show-chable">
    <% if @user.chables.any? %>
      <%= render @chables %>
    <% end %>
  </div>
  <div id="Likes" class="tabcontent user-area act-tab">
    <%= render @likes %>
  </div>
  <div id="Followers" class="tabcontent user-area follow-tab">
    <%= render @followers %>
  </div>
  <div id="Following" class="tabcontent user-area follow-tab">
    <%= render @following %>
  </div>
</div>
<script>
document.getElementById("defaultOpen").click();

function openNav(evt, navName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    
    document.getElementById(navName).style.display = "block";
    evt.currentTarget.className += " active";
  } 
</script>
