<div class="profile-cover"></div>
<div class="second-nav"></div>
<div class="profile-photo"></div>
<h1 class="title profile-name"><%= @user.name %></h1>
<h1 class="profile-username">@<%= @user.username %></h1>
<h1 class="profile-bio"><%= @user.bio %></h1>
<h1 class="profile-location"><%= @user.location %></h1>
<h1 class="profile-birthday"><%= @user.birthday %></h1>
<h1 class="profile-email"><%= @user.email %></h1>
<h1 class="profile-phone_number"><%= @user.phone_number %></h1>