<div class="profile-cover">
  <span class='show-cover-picture' style="background-color: #00c4a7;"><%= image_tag @user.cover_picture.url if @user.cover_picture?%></span>
</div>
<div class="second-nav tab">
  <button class="tablinks" onclick="openCity(event, 'Chables')">Chables<br><%= @user.chables.count %></button>
  <button class="tablinks" onclick="openCity(event, 'Followers')">Followers<br><%= @user.followers.count %></button>
  <button class="tablinks" onclick="openCity(event, 'Following')">Followings<br><%= @user.following.count %></button>
  <button class="tablinks" onclick="openCity(event, 'Likes')">Likes<br><%= @likes.count %></button>
  <%= render 'follow_form' if logged_in? %>
</div>
<div class="show-area">
  <div id="Chables" class="tabcontent show-chable">
    <% if @user.chables.any? %>
      <%= render @chables %>
    <% end %>
  </div>
   <div id="Likes" class="tabcontent user-area">
    <%= render @likes %>
  </div>
  <div id="Followers" class="tabcontent user-area">
    <%= render @followers %>
  </div>
  <div id="Following" class="tabcontent user-area">
    <%= render @following %>
  </div>
  <div class="profile-photo" style="background-color:#00c4a7; background-image: url('<%= @user.picture.url if @user.picture? %> '); background-size: cover;">
  </div>
  <h1 class="title profile-name"><%= @user.name %></h1>
  <h1 class="profile-username">@<%= @user.username %></h1>
  <h1 class="profile-bio"><%= @user.bio %></h1>
  <h1 class="profile-location"><%= @user.location %></h1>
  <h1 class="profile-birthday"><%= @user.birthday %></h1>
</div>
<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  } 
</script>