<div class="chable-creator">
  <%= form_for(@chable) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.text_area :content, placeholder: "Share your thoughts", class: "chable-field" %>
    <%= f.file_field :chable_picture, accept: 'image/jpeg,image/gif,image/png', class: 'file-field' %>
    <%= f.submit "Chable", class: "button chable-submit-field" %>
  <% end %>
</div>
<script type="text/javascript">
  $('#chable_chable_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>

