<% if logged_in? %>
  <div class="home-container">
    <div class="home-side-profile">
      <div class="home-cover-photo" style="background-image: url(' <%= current_user.cover_picture.url if current_user.cover_picture? %>'); background-size: cover;"></div>
      <div class="home-profile-photo box-2" style="background-color: salmon; background-image: url(' <%= current_user.picture.url if current_user.picture? %>')">
      </div>
      <h1 class="home-name"><%= link_to current_user.name, current_user %></h1>
      <h1 class="home-user-name">@<%= current_user.username %></h1>
      <div class="home-user-info">
        <div class="home-chables">
          <h1 class="home-chable-heading">Chables</h1>
          <h1 class="home-chable-count"><%= current_user.chables.count %></h1>
        </div>
        <div class="home-following">
          <h1 class="home-following-heading">Following</h1>
          <h1 class="home-following-count"><%= current_user.following.count %></h1>
        </div>
        <div class="home-followers">
          <h1 class="home-follower-heading">Followers</h1>
          <h1 class="home-follower-count"><%= current_user.followers.count %></h1>
        </div>
      </div>
    </div>
    <div class="home-create-chable">
      <%= render 'shared/chable_form' %>
      <div class="chable-show-section">
        <%= render 'shared/feed' %>
      </div>
    </div>
  <div class="container-end">
        <div class="userguide">
          <span><%= link_to 'Learn What Is Chablie And How To Use It.', '/about' %></span>
          <h1>Created With Love By <%= link_to 'Areeba Ishtiaq', 'https://twitter.com/RibaIshtiaq', target: '_blank' %></h1>
        </div>
    </div>
  </div>
<% else %>
  <style>
    html {
      overflow-y: hidden !important;
    }
  </style>
  <!-- Main Page Content "When not Logged In" -->
  <div class='bg'>
    <!--Login and Signup tabs-->
    <div class='formtabs'>
      <div class="tab">
        <button class="tablinks tl-btn" onclick="openTab(event, 'Login')">Login</button>
        <button class="tablinks ts-btn" onclick="openTab(event, 'Signup')" id="defaultOpen">Signup</button>
      </div>
      <div id="Login" class="tabcontent login-tab">
        <h1 class="logheading">Welcome Back!</h1>
        <%= form_for(:session, url: login_path) do |f| %>
          <%= f.text_field :username, class: 'input is-primary logininput', placeholder: "Username" %>
          <%= f.password_field :password, class: 'input is-primary logininput', placeholder: "Password" %>
          <br>
          <%= f.submit "Log in", class: "button loginbtn" %>
        <% end %>
      </div>
      <div id="Signup" class="tabcontent">
        <%= render 'users/new'%>
      </div>
    </div>
    <div class='wave'></div>
    <div class='wave wave-two'></div>
    <div class='wave wave-three'></div>
  </div>
  
<script>
  document.getElementById("defaultOpen").click();
  function openTab(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
  }
</script>

<% end %>
