 <nav id="navbar" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
    <strong>Chablie</strong>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="myFunction()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to 'Home', root_path, class: "navbar-item" %>

      <a class="navbar-item">
        Notifications
      </a>
    </div>

    <div class="navbar-end">
        <%= form_with url: search_path, method: :get, local: true, class: 'form-inline search-form' do |form| %>
        <%= form.text_field :query, value: params[:query], class: 'form-control mr-sm-2 search-field', placeholder: 'search chablie' %>
        <span class="search-icon"><i class="fas fa-search"></i></span>
        <% end %>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link header-avatar" style="background-image: url(<%= current_user.picture.url %>); background-size: cover;">
        </a>

        <div class="navbar-dropdown">
        <%= link_to 'Settings', edit_user_path(current_user), class: 'navbar-item' %>
          <%= link_to 'Profile', current_user, class: "navbar-item" %>
          <hr class="navbar-divider">
            <%= link_to "Log out", logout_path, method: :delete, class: "navbar-item" %>
        </div>
      </div>
      <div class="navbar-item">
        <div class="buttons">
     <%= link_to "Log out", logout_path, method: :delete, class: "button is-primary" %>
        </div>
      </div>
    </div>
  </div>
</nav>