<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <%= image_tag 'navbar_brand.png', size: '112x80', alt: 'Chablie' %>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Options
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            <%= link_to current_user do %>
              <%= content_tag(:div, class: "navbar-item") do %>
                <%= image_tag current_user.picture.url if current_user.picture? %>Profile
              <% end %>
            <% end %>
          </a>
          <a class="navbar-item">
            <%= link_to 'Messages', '/messages', class: "navbar-item" %>
          </a>
          <a class="navbar-item">
            <%= link_to 'Settings', edit_user_path(current_user), class: 'navbar-item' %>
          </a>

          <hr class="navbar-divider">

          <a class="navbar-item">
            <%= link_to "Log out", logout_path, method: :delete, class: "navbar-item" %>
          </a>
        </div>
      </div>

      <div class="navbar-item">
        <%= form_with url: search_path, method: :get, local: true do |form| %>
          <div class="field search-field">
            <div class="control has-icons-right">
              <%= form.text_field :query, value: params[:query], placeholder: 'Search' %>

              <span class="search-icon is-small is-right" style="color: salmon">
                <i class="fas fa-search"></i>
              </span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>

<script>
  $(document).ready(function() {
    // Check for click events on the navbar burger icon
    $(".navbar-burger").click(function() {
      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");
    });
  });
</script>
