<!DOCTYPE html>
<html>
  <head>
    <%= action_cable_meta_tag %>
    <title>Chablie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link rel="shortcut icon" href="https://res.cloudinary.com/areeba/image/upload/v1561031015/3f77b86f-4168-4e3e-82da-a767565b33e7_200x200_1.png" type="image/x-icon">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8de72b3a8f.js"></script>
  </head>
  <body>
    <% if logged_in? %>
      <%= render 'layouts/header' %>
    <% end %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
